<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>java</servlet-name>
        <servlet-class>signupservlet.java</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUp</servlet-name>
        <servlet-class>signupservlet.SignUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignIn</servlet-name>
        <servlet-class>signupservlet.SignIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>comment</servlet-name>
        <servlet-class>signupservlet.comment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>comment1</servlet-name>
        <servlet-class>signupservlet.comment1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>contactForm</servlet-name>
        <servlet-class>signupservlet.contactForm</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>java</servlet-name>
        <url-pattern>/java</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUp</servlet-name>
        <url-pattern>/SignUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignIn</servlet-name>
        <url-pattern>/SignIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>comment</servlet-name>
        <url-pattern>/comment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>comment1</servlet-name>
        <url-pattern>/comment1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>contactForm</servlet-name>
        <url-pattern>/contactForm</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
